<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/styles/home.css" rel="stylesheet">
    <script src="/scripts/home.js" defer></script>
    <script src="/scripts/api.js" defer></script>
    <title>Astro</title>
</head>

<body>
    <!-- animated background image -->
    <section class="animated-background-section">
        <div class="animated-background">
            <img src="/images/home-image.jpg" alt="nebula" id="background-image">
        </div>
    </section>

    <!-- header  -->
    <section class="home-content-section">
        <section class="home-content">
            <nav>
                <h1 id="home-title">Astro</h1>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <% if(data.isAuth){ %>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    <% } %>
                    <% if(!data.isAuth){ %>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Log In</a></li>
                    <% } %>
                        <li><a href="/about">About Us</a></li>
                    <%if(user){%>
                        <a href="/profile"><img src="<%=user.userImage%>" id="profile-pic"></a>
                    <%}%>
                </ul>
            </nav>

            <div class="tag-line-div">
                <h2 id="tag-line">Explore Space .</h2>
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="3em"
                    width="3em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z">
                    </path>
                </svg>
            </div>
        </section>
        <main class="main-content">
            <div class="main-content-div">
                <svg id="arrowUp" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="3em"
                    width="3em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M256 217.9L383 345c9.4 9.4 24.6 9.4 33.9 0 9.4-9.4 9.3-24.6 0-34L273 167c-9.1-9.1-23.7-9.3-33.1-.7L95 310.9c-4.7 4.7-7 10.9-7 17s2.3 12.3 7 17c9.4 9.4 24.6 9.4 33.9 0l127.1-127z">
                    </path>
                </svg>
                <h3>Explore</h3>
                <a href="/explore" class="anc-btn"><button type="button" class="btn"><p class="btn-content">Explore More</p></button></a>
                <div class="events">
                    <ul class="event-list">
                        <% for(let i=0;i<3;i++){%>
                            <li class="list-item">
                                <img src="" alt="image" class="nasaImage">
                                <p class="nasaTitle"></p>
                                <svg id="heart" class="heart-btn" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg>
                                <svg class="heart-btn-clicked" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                                <a href="" class="view-anc"><button class="view-btn">View</button></a>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </main>
    </section>
</body>

</html>