<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="/styles/signup.css" rel="stylesheet">
    <link href="/styles/login.css" rel="stylesheet">
    <title>Login | Astro</title>
</head>

<body>
    <main class="main-content">
        <div class="sign-up-form-div">
            <div class="box-shadow-div">
                <div>
                    <h1>Login</h1>
                    <h2>Continue The Space Adventure</h2>
                    <form action="/login" method="POST" class="signup-form">
                        <div class="user-email">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div class="user-password">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <p>Are you a new Explorer? <a href="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>